/* scaffolding.scss */

@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-Regular.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}

body {
  min-width: 1150px;
  margin: 0 auto;

  font-family: "Comfortaa", Terminal, sans-serif;
  font-size: 17px;
  line-height: 23px;

  color: #ffffff;
  background-color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

/* visually-hidden.scss */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* container.scss */

.container {
  width: 1150px;
  margin: 0 auto;
  padding: 30px 20px;
  box-sizing: border-box;
}

/* main-header.scss */

.main-header {
  height: 100px;
  margin: 0 auto;
  padding: 0;
}

.main-header__wrap {
  padding: 0;
}

.main-header__wrap--stick {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  opacity: 0.3;
}

.main-header__wrap:hover {
  padding: 0;

  opacity: 1;
}

/* main-nav.scss */

.main-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.main-nav__list {
  display: flex;

  width: 600px;
  margin: 0;
  padding: 0;

  background-color: rgba(1, 171, 123, 1);
  list-style: none;
}

.main-nav__item {
  width: 150px;
}

.main-nav__item:hover {
  color: #01ab7b;
  background-color: #ffffff;
  box-shadow: 0 2px 0 0 rgba(1, 171, 123, 1);  
}

.main-nav__link {
  display: block;

  padding: 20px 10px;

  color: inherit;
  text-align: center;
  text-decoration: none;
}

/* intro.scss */

.intro__wrap {
  position: relative;

  display: flex;
  justify-content: space-between;
}

.intro__word {
  align-self: center;

  width: 600px;

  font-size: 27px;
}

.intro__word-author {
  font-size: 17px;
}

.intro__info {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin-left: auto;
  justify-content: center;
}

.intro__name {
  font-size: 45px;
  font-weight: bold;

  text-align: center;
}

.intro__photocard {
  width: 300px;
  height: 285px;

  border-radius: 50%;
}

.intro__age {
  width: 100%;

  text-align: center;
}

.intro__email {
  width: 100%;
  text-align: center;
}

.intro__email a {
  color: #ffffff;
}

/* social.scss */

.social {
  display: flex;
  justify-content: space-around;

  width: 150px;
  padding: 5px;

  list-style: none;
  border-radius: 16px;
  background-color: #ffffff;
}

.social a {
  position: relative;

  display: block;

  background-repeat: no-repeat;
  background-size: contain;
}

.social__git a {
  width: 32px;
  height: 32px;
}

.social__git a:hover svg {
  fill: #76bd77;
}

.social__academy a {
  width: 27px;
  height: 34px;
}

.social__academy a:hover svg {
  fill: #302683;
}

.social__skype a {
  width: 32px;
  height: 32px;
}

.social__skype a:hover svg {
  fill: #0078ca;
}

/* skills.scss */

.skills__title {
  margin: 0;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 50px;
  padding: 0 50px;

  list-style: none;
}

.skills__item {
  width: 100px;
  padding: 10px;

  font-weight: bold;

  text-align: center;
  color: #000000;
  background-color: #ffffff;
  border-radius: 15px;
}

/* experience.scss */

.experience__title {
  padding: 30px 20px;
}

.experience__wrap {
  color: #000000;
  background-color: #ffffff;
}

/* relevent-exp.scss */

.relevant-exp {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  box-sizing: border-box;
}

.relevant-exp__title {
  width: 100%;
}

/* rest-exp.scss */

.rest-exp {
  margin-top: 50px;
  box-sizing: border-box;
}

.rest-exp__title {
  margin: 0;
}

.rest-exp__list {
  margin: 0;
  padding: 30px;
  list-style: none;
}

.rest-exp__item {
  padding: 10px 5px;
}

/* project.scss */

.project {
  display: flex;
  flex-direction: column;

  width: 300px;
  min-height: 480px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px;

  box-shadow: 0 0 3px 0px #000000;
  background-color: #ffffff;
}

.project__title {
  min-height: 30px;
}

.project__img-wrap {
  min-height: 250px;
}

.project__img {
  width: auto;
  height: auto;
}

.project__link {
  display: inline-block;
}

.project__link--git {
  float: left;
  margin-left: 50px;
}

.project__link--build {
  float: right;
  margin-right: 50px;
}

/* certificates.scss */

.certificates__list {
  display: flex;
  justify-content: space-around;

  margin: 80px 10px 30px;
}

.certificates__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.certificates__img {
  width: 307px;
  height: 432px;
}

.certificates__item a {
  margin-top: 20px;

  color: #ffffff;
}

.certificates__item a:hover {
  color: #302683;
}

/* education.scss */

.education__table {
  border-collapse: collapse;
}

.education__list {
  margin: 30px 0;

  list-style: none;
}

.education__cell {
  width: 125px;
  padding-right: 40px;

  text-align: right;
}

.education__academy-ref {
  color: #ffffff;
}

.education__academy-ref:hover {
  color: #302683;
}
