/* scaffolding.scss */

@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-Regular.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Action Man";
  src: url("../fonts/Comfortaa-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}

body {
  margin: 0 auto;

  font-family: "Comfortaa", Terminal, sans-serif;

  color: #ffffff;
  background-color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

/* visually-hidden.scss */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* container.scss */

.container {
  width: 1150px;
  margin: 0 auto;
  padding: 0;
}

/* main-header.scss */
.main-header {
  height: 100px;
  margin: 0 auto;
}

/* .main-header--stick {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
} */

/* main-nav.scss */
.main-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.main-nav__list {
  display: flex;

  width: 600px;
  margin: 0;
  padding: 0;

  list-style: none;
  background-color: #01ab7b;
}

.main-nav__item {
  width: 150px;
}

.main-nav__link {
  display: block;

  padding: 20px 10px;

  color: inherit;
  text-decoration: none;
}

/* intro.scss */
.intro {
  padding: 30px;
}

.intro__wrap {
  position: relative;

  display: flex;
  justify-content: space-between;
}

.intro__photocard--front {
  width: 300px;
  height: 285px;

  border-radius: 50%;
}

.intro__photocard--back {
  z-index: -1;

  position: absolute;
  left: 200px;
  top: -50px;

  width: 640px;
  height: 430px;
}

/* Skills */
.skills {
  padding: 30px 20px;
}

.skills__title {
  margin: 0;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 50px;
  padding: 0 50px;

  list-style: none;
}

/* experience */
.experience {
  /* color: #ffffff; */
  /* background-color: #000000; */
}

.experience__title {
  /* margin: 0; */
  padding: 30px 0;
}

.experience__wrap {
  color: #000000;
  background-color: #ffffff;
}

/* relevent-exp */

.relevant-exp {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  padding: 0 50px;
  box-sizing: border-box;
}

.relevant-exp__title {
  width: 100%;
}

/* rest-exp */
.rest-exp {
  margin-top: 50px;
  padding: 0 50px;
  box-sizing: border-box;
}

.rest-exp__title {
  margin: 0;
}

.rest-exp__list {
  margin: 0;
  padding: 30px;
  list-style: none;
}

.rest-exp__item {
  padding: 10px 5px;
}
/* Project */
.project {
  display: flex;
  flex-direction: column;

  width: 300px;
  min-height: 480px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px;

  box-shadow: 0 0 1px 0 #000000;
  background-color: #ffffff;
}

.project__title {
  min-height: 30px;
}

.project__img-wrap {
  min-height: 250px;
}

.project__img {
  width: auto;
  height: auto;
}
