.project {
  display: flex;
  flex-direction: column;

  width: 300px;
  min-height: 480px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px;

  box-shadow: 0 0 3px 0 #000000;
  background-color: #ffffff;
}

.project__title {
  min-height: 45px;
}

.project__img-wrap {
  min-height: 250px;
}

.project__img {
  width: auto;
  height: auto;
}

.project__links {
  width: 120px;

  line-height: 0;

  background-color: #000000;
  color: #ffffff;

  border-radius: 30px;
}

.project__link {
  float: left;
  display: inline-block;
  margin: 10px;
}

.project__link--git {
  float: left;
}

.project__link--build {
  float: right;
}

.project__icon {
  fill: #ffffff;
}

.project__icon:hover {
  fill: #76bd77;
}
