.certificates__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0 0 30px;
  padding: 0 50px;
  padding-right: 30px;
}

.certificates__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: calc(33.3333% - 40px);
  margin-top: 20px;
  margin-right: 20px;
}

.certificates__img {
  width: 307px;
  height: 432px;
}

.certificates__item a {
  margin-top: 20px;

  color: #ffffff;
}

.certificates__item a:hover {
  color: #302683;
}
