.rest-exp {
  margin-top: 50px;
  box-sizing: border-box;
}

.rest-exp__title {
  margin: 0;
}

.rest-exp__list {
  margin: 0;
  padding: 30px;
  list-style: none;
}

.rest-exp__item {
  padding: 10px 5px;
}
