.social {
  display: flex;
  justify-content: space-around;

  width: 150px;
  padding: 5px;

  list-style: none;
  border-radius: 16px;
  background-color: #ffffff;
}

.social a {
  position: relative;

  display: block;

  background-repeat: no-repeat;
  background-size: contain;
}

.social__list {
  line-height: 0;
}

.social__description {
  line-height: 23px;
}

.social__icon:hover {
  fill: #ab1701;
}

// .social__icon--git:hover {
//   fill: #76bd77;
// }
//
// .social__icon--htmlacademy:hover {
//   fill: #302683;
// }
//
// .social__icon--skype:hover {
//   fill: #0078ca;
// }
